.payment{
    padding: 100px 0;
}
.payment-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-top { /*icon nằm ngang và có thanh bên trên*/
    height: 2px; /*Đặt chiều cao của thanh ngang.*/
    width: 70%; /*Đặt chiều rộng của thanh ngang.*/
    background-color: #dddddd; /*Đặt màu nền cho thanh ngang.*/
    display: flex; /*Sử dụng flexbox để sắp xếp các icon theo chiều ngang.*/
    justify-content: space-between; /*Căn các icon cách đều nhau.*/
    align-items: center; /* Căn giữa các icon theo chiều dọc.*/
    margin: 50px 0 100px; /*Tạo khoảng cách trên, dưới và dưới thanh ngang.*/
}
.payment-top-item { /* tạo vòng trong bao quanh icon */
    width: 40px; /*Đặt chiều rộng của các icon.*/
    height: 40px; /*Đặt chiều cao của các icon.*/
    border-radius: 50%;/*Tạo hình tròn cho các icon.*/
    border: 1px solid #dddddd;/*Thêm viền xung quanh các icon.*/
    display: flex;/*Sử dụng flexbox để căn giữa icon bên trong.*/
    align-items: center;/*Căn giữa icon theo chiều dọc.*/
    justify-content: center;/*Căn giữa icon theo chiều ngang.*/
    background-color: #fff;/*Đặt màu nền cho các icon.*/
}
.payment-top-item i { /* đổi màu icon */
    color: #dddddd
}
.payment-top-payment { /* đổi màu vòng cung quanh icon */
    border: 1px solid #0db7ea;
}
.payment-top-payment i { /* đổi màu icon */
    color: #0db7ea;
}
.payment-content-left{
    width: 60%;
}
.payment-content-right{
    width: 40%;
    border-left: 2px solid #ddd;
    padding-left: 12px;
}
.payment-content-left p,label{
    font-size: 12px;
    font-family: var(--main-text-font);
}
.payment-content-right-button{
    display: flex;
    padding: 12px 0 ;
    border-bottom: 1px dashed #dddddd;

}
.payment-content-right-button input{
    height: 30px;
    width: 200px;
    margin-right: 10px;
    padding-left: 12px;
}
.payment-content-right-button button{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.payment-content-right-mnv{
    margin-top: 20px;
}
.payment-content-right-mnv select{
    height: 30px;
    width: 100px;
    color: #75758A;
    padding-left: 12px;
}
.payment-content-right-payment{
    margin-top: 50px;
    align-items: center;
    text-align: center;
}
.payment-content-right-payment button{
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid black;
}
.payment-content-right-payment button:hover {
    background-color: black;
    color: #fff;
}

/* banner */
/* Thiết lập kiểu cho container */
.hamburger-menu {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1000;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}
.menubenphai { 
    position: absolute; 
    top: 50px; 
    left: -250px; 
    height: 100%; 
    width: 250px; 
    background-color: #f0f0f0; 
    border-right: 1px solid #ccc; 
    transition: right 0.4s ease; 
    padding: 10px; 
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); 
    list-style-type: none; 
    
} 
.menubenphai.open { 
    left: 0; 
} 
.menubenphai li { 
    background-color: #f0f0f0; /* Đảm bảo màu nền đồng nhất */
    padding: 10px; 
    margin: 5px 0; 
    border-bottom: 1px solid #ddd; 
} 
.menubenphai li:last-child { 
    border-bottom: none;
}
.menubenphai li:hover { 
    background-color: #e0e0e0;
 } /* Thêm hiệu ứng hover để danh sách trông đẹp hơn */


 /* Map container inside the footer */
.map-container {
    max-width: 300px; /* Kích thước tối đa của bản đồ */
    height: 200px; /* Chiều cao bản đồ */
    margin: 0 auto; /* Canh giữa bản đồ trong footer */
    border-radius: 8px; /* Bo góc bản đồ */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm bóng cho bản đồ */
  }
  
  .map-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .row{
    display: flex; /*Sử dụng flexbox để sắp xếp các phần tử con theo chiều ngang.*/
    flex-wrap:wrap /*Cho phép các phần tử con xuống dòng khi không đủ không gian.*/
}