/* Category định dạng cho trang*/
.row{
    display: flex;
    flex-wrap:wrap
}
.category{
    padding: 100px 0 0;
}
.category-top{
    margin-bottom: 50px;
    margin-left: 30px;
}
.category-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.category-left{
    width: 20%;

}
.category-right{
    width: 80%;

}
.category-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.category-right-top-item{
    flex: 1;
    padding: 0 12px;
    margin-right: 30px;
}
.category-right-top-item button{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.category-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.category-right-content{
    margin-top: 20px;
    justify-content: space-between;
    margin-right: 30px;
}
.category-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.category-right-content-item h1{
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color:#333333;
}
.category-right-content-item img{
   width: 100%; 
}
.category-right-content-item p{
    font-size: 12px;
}
.category-right-bottom{
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.category-right-bottom p{
    font-family: var(--main-text-font);
    font-size: 11px;
}
.category-left ul li{
    padding: 12px 0;
    margin-left: 30px;
}
.category-left ul li>a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.category-left ul li ul li{
    padding-left: 10px;
}
.category-left-li ul{
    display: none;
}
.category-left-li.block ul{
    display: block;
}
.category-left ul li ul li a{
    color: #333333;
    font-size: 12px;
}

/* banner */
/* Thiết lập kiểu cho container */
.hamburger-menu {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1000;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}
.menubenphai { 
    position: absolute; 
    top: 50px; 
    left: -250px; 
    height: 100%; 
    width: 250px; 
    background-color: #f0f0f0; 
    border-right: 1px solid #ccc; 
    transition: right 0.4s ease; 
    padding: 10px; 
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); 
    list-style-type: none; 
    
} 
.menubenphai.open { 
    left: 0; 
} 
.menubenphai li { 
    background-color: #f0f0f0; /* Đảm bảo màu nền đồng nhất */
    padding: 10px; 
    margin: 5px 0; 
    border-bottom: 1px solid #ddd; 
} 
.menubenphai li:last-child { 
    border-bottom: none;
}
.menubenphai li:hover { 
    background-color: #e0e0e0;
 } /* Thêm hiệu ứng hover để danh sách trông đẹp hơn */

 /* Map container inside the footer */
.map-container {
    max-width: 300px; /* Kích thước tối đa của bản đồ */
    height: 200px; /* Chiều cao bản đồ */
    margin: 0 auto; /* Canh giữa bản đồ trong footer */
    border-radius: 8px; /* Bo góc bản đồ */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm bóng cho bản đồ */
  }
  
  .map-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }